@charset "UTF-8";

.RegiProfileback{
	position:absolute;
	z-index:998;
	top:0;
	left:0;
	width:100%;
	height:969px;
	background-color:rgba(0, 0, 0, 0.5);
	display: none;
}
.RegiProfile{
    border: 2px solid blue;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top:30%;
    left:40%;
    border:1px solid #D8D2CB;
    border-radius:10px;
    box-shadow: 2px 0px 5px 0px;
    padding: 0;
	display: none;
}
.RegiProfile .change_top{
   height:40px;
   border-radius:10px 10px 0 0;
   background-color:#D8D2CB;
   margin-bottom:20px;
}
.RegiProfile .change_top .top1{
   float:left;
   font-size:18px;
   margin:10px 20px 0 20px;
   font-weight:bold;
}
.RegiProfile .change_top .top2{
   font-size:30px;
   margin:10px 10px 0 30px;
   color:#fff;
   float:right;
}
.RegiProfile .change_top .top2:hover{
   cursor:pointer;
   font-weight:bold;
}
.RegiProfile table{
	margin:20px;
}
.RegiProfile table tr{
	height:70px;
}

.RegiProfile table tr td{
	padding: 5px 10px;
	text-align: center;
}


